footer {
    background-color: #1d3557;
    padding: 3.5em;
    color: white;
    font-size: 1em;
    line-height: 1.4em;
    letter-spacing: 0.05em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #ccc;
}

section {
    flex: 1 1 200px;
    margin: 10px;
    min-width: 180px;
}

section h4 {
    margin-bottom: 8px;
    font-size: 1.3em;
}

section p {
    font-size: 0.85em;
}

section i {
    margin: 0.7em;
    transition: transform .2s;
}

section i:hover {
    transform: scale(1.5)
}