<footer>
  <section>
    <h4>Kontakt</h4>
    <p>Dalslands Universitet</p>
    <p>Box 403</p>
    <p>458 70 Dalsland</p>
  </section>

  <section>
    <h4>Adress</h4>
    <p>Dalslands Universitet</p>
    <p>Solgatan 25</p>
    <p>458 70 Högsäter</p>
  </section>

  <section>
    <h4>Telefon</h4>
    <p>010-xxx xxx xxx</p>
    <p>Telefontid 8–16 vardagar</p>
  </section>

  <section>
    <h4>Våra kanaler</h4>
    <p>
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-linkedin-in"></i>
    </p>
  </section>
</footer>
