<section class="hero">
  <div class="hero-overlay">
    <h2>Välkommen till Dalslands universitet!</h2>
    <p>Upptäck din framtid bland våra spännande utbildningar och skapa ditt personliga ramschema.</p>
  </div>
</section>

<main class="home-main">
  <section class="intro">
    <h3>Vad vill du göra?</h3>
    <p>På vår webbplats kan du enkelt:</p>

    <div class="intro-grid">
      <div class="intro-item">
        <article>
          <h4><i class="fas fa-book-open"></i> Utforska kurser</h4>
          <p>Se hela vårt utbud och hitta rätt utbildning för dig!</p>
          <p>Här kan du få detaljerad information om varje kurs, dess upplägg och mål.</p>
          <p>Utöver det kan du skapa ditt egna, personliga ramschema inför terminsstart.</p>
        </article>
      </div>

      <div class="intro-item">
        <article>
          <h4><i class="fas fa-briefcase"></i> Jobba hos oss</h4>
          <p>Verkar det lockande att jobba hos oss? Det förstår vi! Hos oss finns möjligheten
            att dela vardagen med över 500 anställda och 5000 elever. Utforska chansen att växa
            tillsammans med oss och bidra till framtidens näringsliv genom att ansöka <strong>HÄR.</strong>
          </p>
        </article>
      </div>

      <div class="intro-item">
        <article>
          <h4><i class="fas fa-university"></i> Öppet hus</h4>
          <p>Vill du känna av stämningen på universitetet? Vecka 36 har vi öppet hus, och du är
            hjärtligt välkommen att svänga förbi och uppleva Dalslands Universitet i sin fulla prakt.
            Ta med en kompis, förälder, syskon eller vem du än känner för - det blir kul!
          </p>
        </article>
      </div>
    </div>
  </section>
</main>