<h2>Våra kurser</h2>

<div class="filterControls">
    <!-- Sökfält som sorterar på kursnamn och kurskod-->
    <input type="text" [(ngModel)]="searchText" (ngModelChange)="onFilterChange()" placeholder="Sök kurskod eller kursnamn" />

    <!-- Dropdown för ämne -->
    <select [(ngModel)]="selectedSubject" (change)="onFilterChange()">
        <option value="">Alla ämnen</option>
        <option *ngFor="let s of uniqueSubjects" [value]="s">{{ s }}</option>
    </select>
</div>
<div class="course-count-info" *ngIf="filteredCourses.length > 0">
  Visar {{ filteredCourses.length }} kurs{{ filteredCourses.length === 1 ? '' : 'er' }}.
</div>
<div class="course-count-info no-match" *ngIf="filteredCourses.length === 0">
  Inga kurser matchar din sökning.
</div>

<table>
    <thead>
        <th (click)="sortCourses('courseCode')" style="cursor:pointer;">Kurskod</th>
        <th (click)="sortCourses('courseName')" style="cursor:pointer;">Kursnamn</th>
        <th (click)="sortCourses('points')" style="cursor:pointer;">Poäng</th>
        <th (click)="sortCourses('subject')" style="cursor:pointer;">Ämne</th>
        <th (click)="sortCourses('syllabus')" style="cursor:pointer;">Kursplan</th>
    </thead>
    <tbody>
        <tr *ngFor="let course of paginatedCourses">
            <td> {{ course.courseCode }} </td>
            <td> {{ course.courseName }} </td>
            <td> {{ course.points }} </td>
            <td> {{ course.subject }} </td>
            <td>
                <a [href]="course.syllabus" target="_blank">
                    Kursplan
                </a>
            </td>
            <td data-label="Ramschema">
            <td>
                <button (click)="addToSchedule(course)" [disabled]="addedCourses.includes(course.courseCode)"
                    [ngClass]="{ 'added': addedCourses.includes(course.courseCode) }">
                    {{ addedCourses.includes(course.courseCode) ? 'Tillagd' : 'Lägg till' }}
                </button>
            </td>

        </tr>
    </tbody>
</table>

<div class="pagination" *ngIf="totalPages > 1">
  <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Föregående</button>

  <button *ngIf="shouldShowPage(1)" (click)="changePage(1)" [class.active]="currentPage === 1">1</button>
  <span *ngIf="currentPage > 4">...</span>

  <ng-container *ngFor="let page of visiblePages()">
    <button (click)="changePage(page)" [class.active]="currentPage === page">{{ page }}</button>
  </ng-container>

  <span *ngIf="currentPage < totalPages - 3">...</span>
  <button *ngIf="shouldShowPage(totalPages)" (click)="changePage(totalPages)" [class.active]="currentPage === totalPages">{{ totalPages }}</button>

  <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Nästa</button>
</div>
