<h2>Våra kurser</h2>

<table>
    <thead>
        <th (click)="sortCourses('courseCode')"style="cursor:pointer;">Kurskod</th>
        <th (click)="sortCourses('courseName')"style="cursor:pointer;">Kursnamn</th>
        <th (click)="sortCourses('points')"style="cursor:pointer;">Poäng</th>
        <th (click)="sortCourses('subject')"style="cursor:pointer;">Ämne</th>
        <th (click)="sortCourses('syllabus')"style="cursor:pointer;">Kursplan</th>
    </thead>
    <tbody>
        <tr *ngFor="let course of courselist">
            <td> {{ course.courseCode }} </td>
            <td> {{ course.courseName }} </td>
            <td> {{ course.points }} </td>
            <td> {{ course.subject }} </td>
            <td>
                <a [href]="course.syllabus" target="_blank">
                    Kursplan
                </a>
            </td>
        </tr>
    </tbody>
</table>