* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'acumin-pro, Helvetica, sans-serif';
  background-color: #f7f7f8;
  display: flex;
  align-items: center;
  justify-content: center;
}